.git
.gitignore
README.md
.pytest_cache
.coverage
.mypy_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.vscode
.idea
poetry.lock
Dockerfile.requirements